{% extends "base/base_forms.html" %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block more-stylesheets %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.css' %}"/>
{% endblock %}

{% block scripts %}
  <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/jquery-ui.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
{% endblock %}

{% block title %}Cliente{% endblock %}

{% block header-title %} Información de Cliente{% endblock %}

{% block panel-izq %}
  <div class="col-md-4">
      <!--columna donde ubica panel -->
      <div class="panel panel-default" style="height:75%">
        <div class="panel-heading">DATOS APODERADO/RESPONSABLE</div>
        <div class="panel-body">
          {% for field in cliente_form.visible_fields %}
            <div class="form-group">
              <label for="{{ field.id_for_label }}">{{ field.label }}</label>
              {{ field|add_class:'form-control' }}

              {% if field.label == "Apoderado" or field.label == "Contacto comercial" %}
                <a data-toggle="modal" data-target="#modal_alta" id="{{field.label}}" class="btn btn-success" >
                  <span class="glyphicon glyphicon-plus"></span>
                </a>
              {% endif %}

              {% for error in field.errors %}
                <span class="help-block">{{ error }}</span>
              {% endfor %}
            </div>
          {% endfor %}
        </div>
      </div>

      <div class="container">
        <!-- Modal -->
        <div class="modal fade" id="modal_alta" role="dialog">
          <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
              <form >
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div class="modal-title"> Alta de Persona</div>
              </div>
              <div class="modal-body">
                <form id="formulario_alta">
                  {% csrf_token %}
                  {% for field in persona_form.visible_fields %}
                    <div class="form-group">
                      <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                      {{ field|add_class:'form-control' }}
                      {% for error in field.errors %}
                        <span class="help-block">{{ error }}</span>
                      {% endfor %}
                    </div>
                  {% endfor %}
                </form>
              </div>
              <div class="modal-footer">
                <button type="submit" form="formulario_alta" class="btn btn-primary" data-dismiss="modal" onclick="altaPersona()">Crear Persona</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>

<script>

    $("#plus").click(function(){
        $("#modal_alta").modal();
    });

    function altaPersona() {
       alert("Hello! I am an alert box!");
    }


  $.datepicker.regional['es'] = {
   closeText: 'Cerrar',
   prevText: '< Ant',
   nextText: 'Sig >',
   currentText: 'Hoy',
   monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
   monthNamesShort: ['Ene','Feb','Mar','Abr', 'May','Jun','Jul','Ago','Sep', 'Oct','Nov','Dic'],
   dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
   dayNamesShort: ['Dom','Lun','Mar','Mié','Juv','Vie','Sáb'],
   dayNamesMin: ['Do','Lu','Ma','Mi','Ju','Vi','Sá'],
   weekHeader: 'Sm',
   dateFormat: 'dd/mm/yy',
   firstDay: 1,
   isRTL: false,
   showMonthAfterYear: false,
   yearSuffix: ''
   };
   $.datepicker.setDefaults($.datepicker.regional['es']);

   $(function() {
     $( ".datepicker" ).datepicker({
       changeMonth: true,
       changeYear: true,
       minYear:2000
       // You can put more options here.
     });
   });
 </script>
{% endblock %}

{% block panel-cent%}
  <div class="col-md-3">
    <div class="panel panel-default" style="height:75%">
      <div class="panel-heading">DATOS IMPOSITIVOS</div>
        <div class="panel-body">
          {{datos_impositivos_form}}
        </div>
      </div>
  </div>
{% endblock %}

{% block panel-der%}
  <div class="col-md-4">
    <div class="panel panel-default" style="height:100%">
      <div class="panel-heading">DOMICILIO LEGAL PARA FACTURACION</div>
        <div class="panel-body">
          {% for field in domicilio_form.visible_fields %}
            <div class="form-group">
              <label for="{{ field.id_for_label }}">{{ field.label }}</label>
              {{ field|add_class:'form-control' }}
              {% for error in field.errors %}
                <span class="help-block">{{ error }}</span>
              {% endfor %}
            </div>
          {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}

{% block url-cancelar %}
  {% url 'clientes:listado_clientes' %}
{% endblock %}
