{% extends 'base/base_login-nuevo_usuario.html' %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block no-fondo %}
{% endblock %}

{% block formulario %}

  <h1>Cambiar Contraseña</h1>
  <form method="post">
    {% csrf_token %}
    {% for field in form.visible_fields %}
       <div class="form-group">
         <strong><label for="{{ field.id_for_label }}">{{ field.label }}</label></strong>
         {{ field|add_class:'form-control' }}
       </div>
     {% endfor %}
    <br><button type="submit" class="btn btn-primary btn-lg" style="background-color:#DarkBlue ;">Confirmar</button>
    <br><br>
    <a class="btn btn-danger btn-cancelar" href="{% url 'clientes:listado_clientes' %}" >Cancelar</a>
  </form>

{% endblock %}

{% block footer %}
{% endblock %}
