{% load widget_tweaks %}

<form method="post" action="{% url 'generadores:alta_recorridos' %}" class="js-alta-recorrido-form">
  {% csrf_token %}
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Alta de recorrido</h4>
  </div>
  <div class="modal-body">
    <label>(*)Nombre:</label>
    {{form.nombre|add_class:'form-control nombre_recorrido'|attr:"required:"|attr:"data-parsley-error-message:(*)El campo nombre es obligatorio"}}
    <br>    
    <script>
      $('.nombre_recorrido').on('input', function(evt) {
        $(this).val(function (_, val) {
          return val.toUpperCase();
        });
      });
    </script>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary">Crear recorrido</button>
    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
  </div>
</form>
