
<div class="modal fade" id="modal-recorrido">
  <div class="modal-dialog">
    <div class="modal-content"></div>
  </div>
</div>

<script>
  $(".js-alta-recorrido").click(function () {
   $.ajax({
     url: "{% url 'generadores:alta_recorridos' %}",
     type: 'get',
     dataType: 'json',
     beforeSend: function () {
       $("#modal-recorrido").modal("show");
     },
     success: function (data) {
       $("#modal-recorrido .modal-content").html(data.html_form);
     }
   });
  });
  $("#modal-recorrido").on("submit", ".js-alta-recorrido-form", function () {
    var form = $(this);
    $.ajax({
     url: form.attr("action"),
     data: form.serialize(),
     type: form.attr("method"),
     dataType: 'json',
     success: function (data) {
       if (data.form_is_valid) {
         $("#modal-recorrido").modal("hide");  // <-- Close the modal
         window.location.reload(true); //recarga la pagina
       }
       else {
         $("#modal-recorrido .modal-content").html(data.html_form);
       }
     }
    });
    return false;
  });
</script>
