{% extends "base/base.html" %}
{% load staticfiles %}
{% load staticfiles bootstrap3 %}

{% block stylesheets %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/estilos_forms.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'css/select2.min.css' %}"/>
  <link rel="stylesheet" type="text/css" href="{% static 'css/parsley.css' %}"/>
  {% block more-stylesheets %} {% endblock %}
{% endblock %}

{% block scripts %}
  <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/jquery-ui.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/select2.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/parsley.js' %}"></script>

  <script>
  $(document).ready(function() {
    $('.select_generico').select2();
  });
  </script>
{% endblock %}

{%block content%}

  <div class="container container-form">
      <form class="form-wizard" method="post">
          {% csrf_token %}
          <div class="panel panel-primary">
            <div class="panel-heading">FORMULARIO DE REGISTRO</div>
              <div class="panel-body">
                  {% block step-form %}
                    <!--contenedor de los paneles qe se van agregando -->
                    <div class="container" style="padding-top:15px;">
                      <!--class paneles primera fila -->
                      <div class="row">
                        {% block prim-fila %}{% endblock %}
                      </div>
                      <!--class paneles segunda fila -->
                      <div class="row">
                        {% block snd-fila %}{% endblock %}
                      </div>
                      <!--class paneles tercera fila -->
                      <div class="row">
                        {% block trc-fila %}{% endblock %}
                      </div>
                    </div>
                  {% endblock %}
              </div>
              <div class="panel-footer text-right">
                {% block btn-save-form %}
                <button type="submit" class="btn btn-success" >
                  <span class="glyphicon glyphicon-ok"></span> Guardar
                </button>
                {% endblock %}
                <a class="btn btn-danger btn-cancelar" href= "{% block url-cancelar %}{% endblock %}" >Cancelar</a>
              </div>
            </div>
        </form>
  </div>

  {% block non-alta-persona%}

    <div class="modal fade" id="modal-persona">
      <div class="modal-dialog">
        <div class="modal-content"></div>
      </div>
    </div>

    <script>
      $(".js-alta-persona").click(function () {
       $.ajax({
         url: "{% url 'clientes:alta_personas' %}",
         type: 'get',
         dataType: 'json',
         beforeSend: function () {
           $("#modal-persona").modal("show");
         },
         success: function (data) {
           $("#modal-persona .modal-content").html(data.html_form);
         }
       });
      });

      $("#modal-persona").on("submit", ".js-alta-persona-form", function () {
      var form = $(this);
      $.ajax({
       url: form.attr("action"),
       data: form.serialize(),
       type: form.attr("method"),
       dataType: 'json',
       success: function (data) {
         if (data.form_is_valid) {
           $("#modal-persona").modal("hide");  // <-- Close the modal
           window.location.reload(true);
         }
         else {
           $("#modal-persona .modal-content").html(data.html_form);
         }
       }
      });
      return false;
      });
      /*
      //para actualizar cuando se crea la persona.
      $('#modal-persona').on('hidden.bs.modal', function () {
        window.location.reload(true);
      })
      */
    </script>
  {% endblock %}

  {% block more-scripts %}

    <script type="text/javascript">

      $(function () {
        var $sections = $('.form-section');

        function navigateTo(index) {
          // Mark the current section with the class 'current'
          $sections
            .removeClass('current')
            .eq(index)
              .addClass('current');
          // Show only the navigation buttons that make sense for the current section:
          $('.form-navigation .previous').toggle(index > 0);
          var atTheEnd = index >= $sections.length - 1;
          $('.form-navigation .next').toggle(!atTheEnd);
          $('.form-navigation [type=submit]').toggle(atTheEnd);
        }

        function curIndex() {
          // Return the current index by looking at which section has the class 'current'
          return $sections.index($sections.filter('.current'));
        }

        // Previous button is easy, just go back
        $('.form-navigation .previous').click(function() {
          navigateTo(curIndex() - 1);
        });

        // Next button goes forward iff current block validates
        $('.form-navigation .next').click(function() {
          $('.form-wizard').parsley().whenValidate({
            group: 'block-' + curIndex()
          }).done(function() {
            navigateTo(curIndex() + 1);
          });
        });

        // Prepare sections by setting the `data-parsley-group` attribute to 'block-0', 'block-1', etc.
        $sections.each(function(index, section) {
          $(section).find(':input').attr('data-parsley-group', 'block-' + index);
        });
        navigateTo(0); // Start at the beginning
      });

      //DATEPICKER
      $.datepicker.regional['es'] = {
       closeText: 'Cerrar',
       prevText: '< Ant',
       nextText: 'Sig >',
       currentText: 'Hoy',
       monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
       monthNamesShort: ['Ene','Feb','Mar','Abr', 'May','Jun','Jul','Ago','Sep', 'Oct','Nov','Dic'],
       dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
       dayNamesShort: ['Dom','Lun','Mar','Mié','Juv','Vie','Sáb'],
       dayNamesMin: ['Do','Lu','Ma','Mi','Ju','Vi','Sá'],
       weekHeader: 'Sm',
       dateFormat: 'dd/mm/yy',
       firstDay: 1,
       isRTL: false,
       showMonthAfterYear: false,
       yearSuffix: ''
       };
       $.datepicker.setDefaults($.datepicker.regional['es']);

       $(function() {
         $( ".datepicker" ).datepicker({
           changeMonth: true,
           changeYear: true,
           minYear:2000
         });
       });

    </script>
  {% endblock %}

{% endblock %}
