{% load staticfiles %}

<html lang="es">
  <head>
      <meta charset="UTF-8"/>
      <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}"/>
      <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}"/>
      <link rel="shortcut icon" href=""> <!-- para que no de error favicon ico -->
      {% block stylesheets %}{% endblock %}
      {% block scripts %}{% endblock %}

      <title>{% block title %}{% endblock %}</title>
  </head>
  <body style="background:LightSkyBlue ">

      {% block no-navbar %}
          {% include 'base/nav.html' %}
      {% endblock %}

      <main role="main">
        <div class="page-title" align="center">
            <h3><strong>{% block header-title %}{% endblock %}</strong></h3>
        </div>
        {% block content %}{% endblock %}
        <div class="footer" align="center">
          Desarrollado por FNM-Federico Nicolás Murua-12/2017 .
        </div>
      </main>

  </body>
</html>
