{% extends "base/base.html" %}
{% load staticfiles %}
{% load staticfiles bootstrap3 %}

{% block content %}
    <div class="container container-detalle" style=" width:100%">
      <div class="panel panel-primary">
        <div class="panel-heading">{% block panel-heading %}{% endblock %}</div>
        <div class="panel-body">{% block detalle %}{% endblock %}</div>
        <div class="panel-footer text-right">
            <a href="{% block url-volver %}{% endblock %}" class="btn btn-primary">Volver</a>
        </div>
      </div>
    </div>
    {% block modal-scripts %}{% endblock %}
{% endblock %}
