{% load staticfiles %}
{% load staticfiles bootstrap3 %}

<html lang="es">
  <head>
      <meta charset="UTF-8"/>
      <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}"/>

      {% block stylesheets %}{% endblock %}
      {% block scripts %}{% endblock %}

      <title>{% block title %}{% endblock %}</title>
  </head>
  <body>

      {% block no-navbar %}
          {% include 'base/nav.html' %}
      {% endblock %}

      {% block no-header %}
        <header id="header-page" class="header">
               <h1 class="header-title pull-left">
                   {% block header-title %}{% endblock %}
               </h1>
        </header>
      {% endblock %}

      <main role="main">      
      {% block content %}{% endblock %}
      </main>

  </body>
</html>
