div.container-form {
    /*
      padding-top: 0px;
      padding-right: 250px;
      padding-bottom: 0px;
      padding-left: 250px;
    */
   display: center;
   position: relative;
   width: 50%;   
   background-size: contain;
  }

ul
  {
    list-style-type: none;
  }
