{% extends "base/base_forms.html" %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block title %}Residuo Generador{% endblock %}

{% block header-title %} Información de los residuos del centro generador {% endblock %}

{% block step-form %}

  <div class="form-section">
    <div class="panel panel-default">
      <div class="panel-heading">DATOS RESIDUOS GENERADOR</div>
      <div class="panel-body">
        {% if messages %}
          {% for message in messages %}
          <div align="center">
            <div class="alert alert-danger {% if message.tags %} alert-{{ message.tags }}{% endif %}">{{ message|safe }}</div>
          </div>
          {% endfor %}
        {% endif %}
        <label>(*)Tipo:</label>
        {{residuo_form.tipo|add_class:"select-2"|attr:"required:"|attr:"data-parsley-error-message:(*)El campo tipo es obligatorio"}}
        <br>
        <label>Vol. Mensual Estimado:</label>
        {{residuo_form.volumen_mensual_estimado|add_class:'form-control'|attr:"id:vol"|attr:"onfocusout:dmtokgs()"|attr:"required:"|attr:"data-parsley-error-message:(*)El campo vol. es obligatorio"}}
        <br>
        <label>Kgs. Mensual Estimado:</label>
        {{residuo_form.kgs_mensual_estimado|add_class:'form-control'|attr:"required:"|attr:"id:kgs"|attr:"onfocusout:kgstodm()"|attr:"data-parsley-error-message:(*)El campo kgs. es obligatorio"}}
        <br>
      </div>
    </div>
  </div>

  <script>
    function dmtokgs() {
    var x = document.getElementById("kgs");    
    }
    function kgstodm() {
    var x = document.getElementById("vol");
    }
  </script>

{% endblock %}


{% block url-cancelar %}
  {% url 'generadores:listado_residuos' nro_inscripcion=nro_inscripcion%}
{% endblock %}
