{% extends "base/base_detalle.html" %}
{% load staticfiles %}
{% load staticfiles bootstrap3 %}

{% block title %}Detalle{% endblock %}

{% block header-title %}Detalle del Generador{% endblock %}

{% block panel-heading %}
  Generador: {{generador.razon_social}}
{% endblock %}

{% block detalle %}
  <table class="table table-striped table-bordered">
      <tbody>
          <tr>
              <th>N° inscripcion registro de generadores provincia del chubut:</th>
              <td style="text-align:right;"> {{ generador.nro_inscripcion|default_if_none:"-" }}</td>
          </tr>
          <tr>
              <th>Responsable Ambiental:</th>
              <td style="text-align:right;"> {{ generador.responsable_ambiental|default_if_none:"-" }}</td>
          </tr>
          <tr>
              <th>Teléfono:</th>
              <td style="text-align:right;"> {{ generador.telefono|default_if_none:"-" }}</td>
          </tr>
          <tr>
              <th>Email:</th>
              <td style="text-align:right;"> {{ generador.email|default_if_none:"-" }}</td>
          </tr>
          <tr>
              <th>Cuit/Cuil:</th>
              <td style="text-align:right;"> {{ generador.cuit|default_if_none:"-" }}</td>
          </tr>
          <tr>
              <th>Actividades:</th>
              <td style="text-align:right;"> {{ generador.get_tipo_actividad_display|default_if_none:"-" }}</td>
          </tr>
          <tr>
              <th>Días:</th>
              <td style="text-align:right;"> {{ generador.get_recoleccion_display|default_if_none:"-" }}</td>
          </tr>
          <tr>
              <th>Recorrido Asociado:</th>
              <td style="text-align:right;"> {{ generador.recorrido|default_if_none:"-" }} || Parada N° {{ generador.nro_parada|default_if_none:"-" }}</td>
          </tr>
          <tr>
              <th>Recorrido Asociado Extra:</th>
              <td style="text-align:right;"> {{ generador.recorrido_extra|default_if_none:"-" }} || Parada N° {{ generador.nro_parada_extra|default_if_none:"-" }}</td>
          </tr>
      </tbody>
  </table>
{% endblock %}

{% block url-volver %}
  {% url 'generadores:listado_generadores' %}
{% endblock %}
