{% extends "base/base_detalle.html" %}
{% load staticfiles %}
{% load staticfiles bootstrap3 %}

{% block title %}Detalle{% endblock %}

{% block header-title %}Detalle del Generador{% endblock %}

{% block panel-heading %}
  Generador: {{generador.razon_social}}
{% endblock %}

{% block detalle %}
  <table class="table table-striped table-bordered">
      <tbody>
          {% if generador.responsable_ambiental %}
          <tr>
            <th>Responsable Ambiental:</th>
            <td style="text-align:justify; direction:rtl;"> {{generador.responsable_ambiental}}</td>
          </tr>
          {% else %}
            <tr>
              <th>Responsable Ambiental:</th>
              <td style="text-align:justify; direction:rtl;"> - </td>
            </tr>
          {% endif %}

          {% if generador.telefono %}
          <tr>
            <th>Teléfono:</th>
            <td style="text-align:justify; direction:rtl;"> {{generador.telefono}}</td>
          </tr>
          {% else %}
            <tr>
              <th>Teléfono:</th>
              <td style="text-align:justify; direction:rtl;"> - </td>
            </tr>
          {% endif %}

          {% if generador.email %}
          <tr>
              <th>Email:</th>
              <td style="text-align:justify; direction:rtl;"> {{generador.email}}</td>
          </tr>
          {% else %}
            <tr>
              <th>Email:</th>
              <td style="text-align:justify; direction:rtl;"> - </td>
            </tr>
          {% endif %}

          {% if generador.cuit %}
          <tr>
              <th>Cuit/Cuil:</th>
              <td style="text-align:justify; direction:rtl;"> {{generador.cuit}}</td>
          </tr>
          {% else %}
            <tr>
              <th>Cuit/Cuil:</th>
              <td style="text-align:justify; direction:rtl;"> - </td>
            </tr>
          {% endif %}

          {% if generador.tipo_actividad %}
          <tr>
              <th>Actividades:</th>
              <td style="text-align:justify; direction:rtl;"> {{generador.tipo_actividad}}</td>
          </tr>
          {% else %}
            <tr>
              <th>Actividades:</th>
              <td style="text-align:justify; direction:rtl;"> - </td>
            </tr>
          {% endif %}

          {% if generador.recoleccion %}
          <tr>
              <th>Días:</th>
              <td style="text-align:justify; direction:rtl;"> {{generador.get_recoleccion_display}}</td>
          </tr>
          {% else %}
            <tr>
              <th>Días:</th>
              <td style="text-align:justify; direction:rtl;"> - </td>
            </tr>
          {% endif %}

          {% if generador.sector %}
          <tr>
              <th>Sector Asociado en el Cuadrante:</th>
              <td style="text-align:justify; direction:rtl;"> {{generador.sector}}</td>
          </tr>
          {% else %}
            <tr>
              <th>Sector Asociado en el Cuadrante:</th>
              <td style="text-align:justify; direction:rtl;"> - </td>
            </tr>
          {% endif %}

      </tbody>
  </table>
{% endblock %}

{% block url-volver %}
  {% url 'generadores:listado_generadores' %}
{% endblock %}
