{% extends "base/base_forms.html" %}
{% load staticfiles %}
{% load staticfiles bootstrap3 %}
{% load widget_tweaks %}

{% block scripts %}
  {{block.super}}
  <script type="text/javascript" src="{% static 'js/jquery.mask.js' %}"></script>
{% endblock %}

{% block title %}Generador{% endblock %}

{% block header-title %} Información de Generador{% endblock %}

{% block step-form %}

  <!-- SECTION 1 -->
  <div class="form-section">
    <div class="panel panel-default">
      <div class="panel-heading">DATOS DEL CENTRO GENERADOR
        {% if modificar %}
          <h5 style="color:red;">(*)Atencion! si no se redirige el formulario, completar los datos faltantes.</h5>
        {% endif %}
      </div>
        <div class="panel-body">
          <div class="form-group">
            <label>(*)Razón Social:</label>
            {{generador_form.razon_social|add_class:'form-control'|attr:"required:"|attr:"data-parsley-error-message:(*)El campo razón social es obligatorio"}}
            <br>
            <label>(*)Dirección:</label>
            {{generador_form.direccion|add_class:'form-control'|attr:"required:"|attr:"data-parsley-error-message:(*)El campo dirección es obligatorio"}}
            <br>
            <label>(*)Localidad:</label>
            {{generador_form.localidad|add_class:"select-2"|attr:"required:"|attr:"data-parsley-error-message:(*)El campo localidad es obligatorio"}}
            <br>
            <label>Activo:</label>
            {{generador_form.activo|add_class:'form-control'}}
            <br>
          </div>
        </div>
      </div>

      <script>
        //MASCARAS
        $(document).ready(function(){
         $('.cuil').mask('00-00000000-0');
        });
      </script>

  </div>

  <!-- SECTION 2 -->
  <div class="form-section">
    <div class="panel panel-default">
      <div class="panel-heading">DATOS DEL CENTRO GENERADOR</div>
        <div class="panel-body">
          <label>Número de Inscripción en el Registro de Generadores Provincia del Chubut:</label>
          {{generador_form.nro_inscripcion|add_class:'form-control'|attr:"type:number"|attr:"data-parsley-type=integer"}}
          <br>
          <label>Responsable Ambiental:</label>
          {{generador_form.responsable_ambiental|add_class:'form-control'}}
          <br>
          <label>Cuit/Cuil (Sin Espacios):</label>
          {{generador_form.cuit|add_class:'form-control cuil'}}
          <br>
          <label>Teléfono:</label>
          {{generador_form.telefono|add_class:'form-control'}}
          <br>
          <label>Email:</label>
          {{generador_form.email|add_class:'form-control'}}
          <br>
        </div>
    </div>
  </div>

   <!-- SECTION 3 -->
   <div class="form-section">
     <div class="panel panel-default">
       <div class="panel-heading">TIPO DE ACTIVIDAD</div>
         <div class="panel-body">
           <label>(*)Tipo de actividad:</label>
           {{actividades_form.tipo_actividad|attr:"required:"|attr:"data-parsley-error-message:(*)Seleccione al menos un tipo de actividad del centro generador"}}
           <br>
         </div>
     </div>
   </div>

   <!-- SECTION 4 -->
   <div class="form-section">
     <div class="panel panel-default">
       <div class="panel-heading">DIAS DE ATENCIÓN</div>
         <div class="panel-body">
           <label>Dias:</label>
           {{dias_form.recoleccion}}
           <br>
         </div>
     </div>
   </div>

   {% if not modificar %}
     <!-- SECTION 5 -->
     <div class="form-section">
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="row">
             <div class="col-xs-4 col-md-4">
                 <h3 class="panel-title">BALDES PACTADOS</h3>
             </div>
             <div class="col-xs-8 col-md-8 text-right">
                 <button type="button" class="btn btn-primary" data-toggle="modal" data-backdrop="false" data-target="#agregar_baldespactado">Agregar Baldes</button>
             </div>
           </div>
          </div>
          <div class="panel-body">
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="container-fluid container-table">
                   <table style="overflow:auto" class="table table-list table-bordered table-striped" id="table-list">
                       <thead>
                           <tr align="center">
                             <th style="text-align:center;">Capacidad de Balde</th>
                             <th style="text-align:center;">Color de Precinto</th>
                             <th style="text-align:center;">Cantidad</th>
                             <!--<th style="text-align:center;">Acciones</th>-->
                           </tr>
                       </thead>
                       <tbody>
                       </tbody>
                   </table>
                 </div>
             </div>
           </div>
          </div>
        </div>
     </div>
   {% endif %}

{% endblock %}

{% block url-cancelar %}
  {% url 'generadores:listado_generadores' %}
{% endblock %}

{% block modal-Detalles %}
  <div id="agregar_baldespactado" class="modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Nuevo Balde Pactado</h4>
            </div>
            <div class="modal-body">
              <form action="" id="baldePactadoForm" data-url="{% url 'generadores:alta_balde_pactado' %}">
                 {% csrf_token %}
                 {{ baldepactado_form.media }}
                 <div class="form-group">
                   <label>(*)Capacidad Balde:</label>
                   {{baldepactado_form.capacidad_balde|add_class:"form-control"|attr:"required:"|attr:"data-parsley-error-message:(*)El campo capacidad del balde es obligatorio"}}
                 </div>
                 <div class="form-group">
                   <label>(*)Color de Precinto:</label>
                   {{baldepactado_form.color_precinto|add_class:'form-control'|attr:"required:"|attr:"data-parsley-error-message:(*)El campo color de precinto es obligatorio"}}
                 </div>
                 <div class="form-group">
                   <label>(*)Cantidad:</label>
                   {{baldepactado_form.cantidad|add_class:"form-control"|attr:"required:"|attr:"data-parsley-error-message:(*)El campo cantidad es obligatorio"}}
                 </div>
                 <input type="submit" class="btn btn-success" id="btn-confirmar" onclick="return confirm('Confirma los datos ingresados?')" value="Confirmar"/>
                 <input type="button" class="btn btn-danger" data-dismiss="modal" value="Cerrar">
               </form>
            </div>
        </div>
    </div>
  </div>
{% endblock %}

{% block more-scripts %}
  {{ block.super }}
  <script type="text/javascript">

      $(document).ready(function(){
             $("#baldePactadoForm").submit(function(e) {
                 e.preventDefault();
                 $.post($(this).data('url'), $(this).serialize()).done(function(data) {
                   if(data['success']) {
                       $('#agregar_baldespactado').modal('hide');
                       refresh_table(data['baldes_pactados']);
                   } else {
                       alert("La capacidad de los baldes y color de precinto ya se encuentran cargados");
                   }
                });
             });
         });

      function refresh_table(baldes_pactados){
        var $tbody = $("table tbody");
        $tbody.children().remove();
        for(var i = 0; i < baldes_pactados.length; i++){
           var row = "<tr align='center'>" +
           "<td>" + baldes_pactados[i]['capacidad_balde'] + "dm3 </td>" +
           "<td>" + baldes_pactados[i]['color_precinto'] + "</td>" +
           "<td>" + baldes_pactados[i]['cantidad'] + "</td>" +
           //"<td align='center'>" +
           //"<a onclick='deleteRow(this)' class='btn btn-danger' data-toggle='tooltip' title='Eliminar'><em class='glyphicon glyphicon-trash'></em></a> </td>" +
           "</tr>";
           $tbody.append(row);

        }
      }

      /*
      function deleteRow(btn) {
        var row = btn.parentNode.parentNode;
        row.parentNode.removeChild(row);
      }
      */


  </script>
{% endblock %}
