{% extends "base/base_forms.html" %}
{% load staticfiles %}
{% load staticfiles bootstrap3 %}
{% load widget_tweaks %}

<!--
{% block stylesheets %}
  {{block.super}}
{% endblock %}
-->

{% block scripts %}
  {{block.super}}
  <script type="text/javascript" src="{% static 'js/jquery.formset.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/jquery.mask.js' %}"></script>
{% endblock %}

{% block title %}Generador{% endblock %}

{% block header-title %} Información de Generador{% endblock %}

{% block step-form %}

  <!-- SECTION 1 -->
  <div class="form-section">
    <div class="panel panel-default">
      <div class="panel-heading">DATOS DEL CENTRO GENERADOR</div>
        <div class="panel-body">
          <div class="form-group">
            <label>(*)Director Responsable:</label>
            {{generador_form.director_responsable|add_class:"select-2"|attr:"required:"|attr:"data-parsley-error-message:(*)El campo director responsable es obligatorio"}}
            <br>
            <label>(*)Responsable Residuos:</label>
            {{generador_form.responsable_residuos|add_class:"select-2"|attr:"required:"|attr:"data-parsley-error-message:(*)El campo responsable de residuos es obligatorio"}}
            <br>
            <label>(*)Responsable Suplentes Residuos:</label>
            {{generador_form.responsable_suplente|add_class:"select-2"|attr:"required:"|attr:"data-parsley-error-message:(*)El campo director responsable suplente de residuos es obligatorio"}}
            <br>
            <label>(*)Responsable Técnico:</label>
            {{generador_form.responsable_tecnico|add_class:"select-2"|attr:"required:"|attr:"data-parsley-error-message:(*)El campo responsable técnico es obligatorio"}}
            <br>
            <label>(*)Fecha vínculo:</label>
            {{generador_form.fecha_vinculo|add_class:'form-control'|attr:"readonly"|attr:"style:background:white"|attr:"required:"|attr:"data-parsley-error-message:(*)El campo fecha vínculo es obligatorio"}}
            <br>
            <label>(*)Número de Inscripción en el Registro de Generadores Provincia del Chubut:</label>
            {{generador_form.nro_inscripcion|add_class:'form-control'|attr:"required:"|attr:"type:number"|attr:"data-parsley-type=integer"|attr:"data-parsley-error-message:(*)El campo N° inscripción es obligatorio"}}
            <br>
            <label>(*)Razón Social:</label>
            {{generador_form.razon_social|add_class:'form-control'|attr:"required:"|attr:"data-parsley-error-message:(*)El campo razón social es obligatorio"}}
            <br>
            <label>(*)Teléfono:</label>
            {{generador_form.telefono|add_class:'form-control'|attr:"required:"|attr:"data-parsley-error-message:(*)El campo teléfono es obligatorio"}}
            <br>
            <label>Correo Electrónico:</label>
            {{generador_form.email|add_class:'form-control'|attr:"type:email"|attr:"data-parsley-type=email"|attr:"data-parsley-error-message:(*)Formato de correo incorrecto"}}
            <br>
            <label>Observaciones/Comentarios:</label>
            {{generador_form.observaciones_comentarios|add_class:'form-control'}}
            <br>
            <label>(*)Número de Sector Asociado (Cuadrante):</label>
            {{generador_form.sector|add_class:'form-control'|attr:"required:"|attr:"type:number"|attr:"data-parsley-type=integer"|attr:"data-parsley-error-message:(*)El campo sector es obligatorio"}}
            <br>
          </div>
        </div>
      </div>
  </div>

  <!-- SECTION 2 -->
  {% include 'base/form_section_domicilio.html' %}

  <!-- SECTION 3 -->
  <div class="form-section">
     <div class="panel panel-default">
       <div class="panel-heading">ÁMBITO/DEPENDENCIA</div>
         <div class="panel-body">
           <label>(*)Categoría:</label>
           {{ambito_dpcia_form.categoria|add_class:"select-2"|attr:"required:"|attr:"data-parsley-error-message:(*)El campo Categoría es obligatorio"}}
           <br>
           <label>Municipalidad:</label>
           {{ambito_dpcia_form.municipalidad|add_class:'form-control'}}
           <br>
           <label>Nombre del centro del que depende:</label>
           {{ambito_dpcia_form.centro_que_depende|add_class:'form-control'}}
       </div>
     </div>
   </div>

   <!-- SECTION 4 -->
   <div class="form-section">
     <div class="panel panel-default">
       <div class="panel-heading">TIPO DE ACTIVIDAD</div>
         <div class="panel-body">
           <label>(*)Tipo de actividad:</label>
           {{actividades_form.tipo_actividad|attr:"required:"|attr:"data-parsley-error-message:(*)Seleccione al menos un tipo de actividad del centro generador"}}
           <br>
         </div>
     </div>
   </div>

  <!-- SECTION 5 -->
  <div class="form-section">
     <div class="panel panel-default">
       <div class="panel-heading">CARACTERÍSTICAS GENERALES DEL CENTRO DE ATENCIÓN</div>
         <div class="panel-body">
           <label>(*)Cantidad de Quirófanos:</label>
           {{caract_generales_form.cant_quirofanos|add_class:'form-control'|attr:"required:"|attr:"data-parsley-error-message:(*)El campo Cantidad de quirófanos es obligatorio"}}
           <br>
           <label>(*)N° de camas:</label>
           {{caract_generales_form.nro_camas|add_class:'form-control'|attr:"type:number"|attr:"data-parsley-type=integer"|attr:"required:"|attr:"data-parsley-error-message:(*)El campo N° de camas es obligatorio"}}
           <br>
           <label>(*)Población promedio antendida (al mes):</label>
           {{caract_generales_form.poblacion_promedio_atendida|add_class:'form-control'|attr:"required:"|attr:"data-parsley-error-message:(*)El campo Población promedio atendido es obligatorio"}}
           <br>
           <label>(*)Población promedio antendida (al año):</label>
           {{caract_generales_form.poblacion_promedio_atendida_365|add_class:'form-control'|attr:"required:"|attr:"data-parsley-error-message:(*)El campo Población promedio atendido al año es obligatorio"}}
           <br>
           <label>(*)Vía de Acceso al centro generador:</label>
           {{caract_generales_form.via_acceso|attr:"required:"|attr:"data-parsley-error-message:(*)Seleccione al menos una vía de acceso al centro generador"}}
           <br>
       </div>
     </div>
  </div>

  <!-- SECTION 6 -->
  <!-- OBS: LOGICA FORMSET, EN FORM-WIZARD.JS -->
  {% if residuo_generador_formset %}
    <div class="form-section">
     <div class="panel panel-default">
       <div class="panel-heading">TIPO Y CANTIDAD DE RESIDUOS GENERADOR</div>
       <div class="panel-body">
         <fieldset id="fieldset_residuo">
          {% for form in residuo_generador_formset.forms %}
            {% for field in form.visible_fields %}
              <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field|add_class:'form-control'|attr:"required:"|attr:"data-parsley-error-message:(*)Este campo es obligatorio" }}
                {% for error in field.errors %}
                  <span style="color:red;" class="help-block">{{ error }}</span>
                {% endfor %}
              </div>
            {% endfor %}
          {% endfor %}
         </fieldset>
         {{ residuo_generador_formset.management_form }}
       </div>
     </div>
    </div>
  {% endif %}

  <!-- SECTION 7 -->
  <div class="form-section">
   <div class="panel panel-default">
     <div class="panel-heading">SECTOR DE ACOPIO TRANSITORIO EN EL CENTRO GENERADOR</div>
       <div class="panel-body">
         <div class="form-group">
           {{ acopio_transitorio_form.camara_frio|attr:"class:camara_frio"|attr:"name:camara_frio"|attr:"onchange:valueChanged()"}}
           <label>Cámara de Frío</label>
           <br>
           <div class="dimension_camara_frio" style="display:none">
             <label>Dimensión cámara de frío</label>
             {{ acopio_transitorio_form.dimension_camara_frio|add_class:'form-control'}}
             <br><br>
           </div>
           {{ acopio_transitorio_form.sector_interno_p_estacionar|attr:"class:sector_interno"|attr:"name:sector_interno"|attr:"onchange:valueChanged()"}}
           <label>Sector interno p/estacionar</label>
           <br>
           <div class="dimension_sector_interno" style="display:none">
             <label>Dimensión del sector de acopio</label>
             {{ acopio_transitorio_form.dimension_sector|add_class:'form-control'}}
             <br>
           </div>
         </div>
         <label>(*)Vía de Acceso al sector de acopio:</label>
         {{via_acceso_form.tipo|attr:"required:"|attr:"data-parsley-error-message:(*)Seleccione al menos una vía de acceso al sector de acopio"}}
       </div>
   </div>
  </div>

  <!-- SECTION 8 -->
  {% if horario_atencion_formset %}
    <div class="form-section">
     <div class="panel panel-default">
       <div class="panel-heading">HORARIO DE ATENCIÓN</div>
       <div class="panel-body">
         <div class="panel panel-default">
           <div class="panel-body">
             <fieldset id="fieldset_horario">
              {% for form in horario_atencion_formset.forms %}
                <label>(*)Día:</label>
                {{form.dia|add_class:'form-control'|attr:"required:"|attr:"data-parsley-error-message:(*)El campo día es obligatorio" }}
                {% for error in form.dia.errors %}
                  <span style="color:red;" class="help-block">{{ error }}</span>
                {% endfor %}
                <br>
                <label>FORMATOS HORARIOS (HH:MM)</label>
                <br>
                <label>(*)Hora Desde (Mañana):</label>
                <br>
                {{form.hora_desde_m|add_class:'form-control hora' }}
                <br>
                <label>(*)Hora Hasta (Mañana):</label>
                <br>
                {{form.hora_hasta_m|add_class:'form-control hora' }}
                <br>
                <label>(*)Hora Desde (Tarde):</label>
                <br>
                {{form.hora_desde_t|add_class:'form-control hora' }}
                <br>
                <label>(*)Hora Hasta (Tarde):</label>
                <br>
                {{form.hora_hasta_t|add_class:'form-control hora' }}
                <br>
                <label>(*)Hora Retiro:</label>
                <br>
                {{form.horario_retiro|add_class:'form-control hora' }}
                <br>
              {% endfor %}
             </fieldset>
             {{ horario_atencion_formset.management_form }}
          </div>
        </div>
       </div>
     </div>
    </div>
  {% endif %}

  <script type="text/javascript">

    // Función para el checkbox del formulario de sector de acopio transitorio
    function valueChanged()
    {
        if($('.camara_frio').is(":checked"))
            $(".dimension_camara_frio").show();
        else
            $(".dimension_camara_frio").hide();

        if($('.sector_interno').is(":checked"))
            $(".dimension_sector_interno").show();
        else
            $(".dimension_sector_interno").hide();
    }

    //MASCARAS

    $(document).ready(function(){
      $('.hora').mask('00:00', {placeholder: "__:__"});      
    });

  </script>
{% endblock %}


{% block url-cancelar %}
  {% url 'generadores:listado_generadores' %}
{% endblock %}
