{% extends "base/base_forms.html" %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block more-stylesheets %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.css' %}"/>
  <link rel="stylesheet" href="{% static 'css/bootstrap-timepicker.min.css' %}"/>
{% endblock %}

{% block scripts %}
  {{block.super}}
  <script type="text/javascript" src="{% static 'js/bootstrap-timepicker.min.js' %}"></script>
  <script type="text/javascript">
    $(document).ready(function() {

      // Code adapted from http://djangosnippets.org/snippets/1389/
      function updateElementIndex(el, prefix, ndx) {
        var id_regex = new RegExp('(' + prefix + '-\\d+-)');
        var replacement = prefix + '-' + ndx + '-';
        if ($(el).attr("for")) $(el).attr("for", $(el).attr("for").replace(id_regex,replacement));
        if (el.id) el.id = el.id.replace(id_regex, replacement);
        if (el.name) el.name = el.name.replace(id_regex, replacement);
      }

      function deleteForm(btn, prefix) {
        var formCount = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
        if (formCount > 1) {
          // Delete the item/form
          $(btn).parents('.item').remove();
          var forms = $('.item'); // Get all the forms
          // Update the total number of forms (1 less than before)
          $('#id_' + prefix + '-TOTAL_FORMS').val(forms.length);
          var i = 0;
          // Go through the forms and set their indices, names and IDs
          for (formCount = forms.length; i < formCount; i++) {
            $(forms.get(i)).children().children().each(function() {
              updateElementIndex(this, prefix, i);
            });
          }
        } // End if
        else {
            alert("Tiene que ingresar al menos un elemento!");
        }
        return false;
      }

      function addForm(btn, prefix) {
        var formCount = parseInt($('#id_' + prefix + '-TOTAL_FORMS').val());
        // You can only submit a maximum of 3 todo items
        if (formCount < 3) {
          // Clone a form (without event handlers) from the first form
          var row = $(".item:first").clone(false).get(0);
          // Insert it after the last form
          $(row).removeAttr('id').hide().insertAfter(".item:last").slideDown(300);

          // Remove the bits we don't want in the new row/form
          // e.g. error messages
          $(".errorlist", row).remove();
          $(row).children().removeClass('error');

          // Relabel/rename all the relevant bits
          $(row).children().children().each(function() {
            updateElementIndex(this, prefix, formCount);
            if ( $(this).attr('type') == 'text' )
              $(this).val('');
          });

          // Add an event handler for the delete item/form link
          $(row).find('.delete').click(function() {
            return deleteForm(this, prefix);
          });
          // Update the total form count
          $('#id_' + prefix + '-TOTAL_FORMS').val(formCount + 1);
        } // End if
        else {
          alert("Se puede agregar solo un máximo de 3 elementos.");
        }
        return false;
      }

      // Register the click event handlers
      $("#add").click(function() {
        return addForm(this, 'form');
      });

      $(".delete").click(function() {
        return deleteForm(this, 'form');
      });

    });
  </script>

{% endblock %}


{% block title %}Generador{% endblock %}

{% block header-title %} Información de Generador{% endblock %}

{% block step-form %}

   <div class="form-section">
      <div class="panel panel-default">
        <div class="panel-heading">DATOS DEL CENTRO GENERADOR</div>
          <div class="panel-body">

            <label>(*)Número de Inscripción en el Registro de Generadores Provincia del Chubut:</label>
            {{generador_form.nro_inscripcion|add_class:'form-control'|attr:"required:"|attr:"type:number"|attr:"data-parsley-type=integer"|attr:"data-parsley-error-message:(*)El campo N° inscripción es obligatorio"}}
            <br>
            <label>(*)Razón Social:</label>
            {{generador_form.razon_social|add_class:'form-control'|attr:"required:"|attr:"data-parsley-error-message:(*)El campo razón social es obligatorio"}}
            <br>
            <label>(*)Teléfono:</label>
            {{generador_form.telefono|add_class:'form-control'|attr:"required:"|attr:"data-parsley-error-message:(*)El campo teléfono es obligatorio"}}
            <br>
            <label>Correo Electrónico:</label>
            {{generador_form.email|add_class:'form-control'|attr:"type:email"|attr:"data-parsley-type=email"|attr:"data-parsley-error-message:(*)Formato de correo incorrecto"}}
            <br>
            <label>(*)Fecha Vínculo:</label>
            {{generador_form.telefono|add_class:'form-control'|attr:"required:"|attr:"data-parsley-error-message:(*)El campo fecha que se creo el vínculo es obligatorio"}}
            <br>
            <label>Observaciones/Comentarios:</label>
            {{generador_form.observaciones_comentarios|add_class:'form-control'}}

            {% if persona_form %}
              <br><br>
              <label>(*)Director Responsable:</label>
              <br>
              <select class="select_personas" style="width:100%" name="director" required data-parsley-error-message="(*)El campo Director responsable es obligatorio">
                <option value="">Seleccione un director ...</option>
                {% for cliente in listado_clientes %}
                  <option value="{{cliente.apoderado.documento}}">{{cliente}}</option>
                {% endfor %}
              </select>

              <br><br>

              <label>(*)Responsable de Gestión de Residuos:</label>
              <br>
              <select class="select_personas" style="width:100%" name="responsable-residuos" required data-parsley-error-message="(*)El campo Responsable de gestión de residuos es obligatorio">
                <option value="">Seleccione un responsable ...</option>
                {% for persona in listado_personas %}
                  <option value="{{persona.documento}}">{{persona}}</option>
                {% endfor %}
              </select>
              <a class="btn btn-success js-alta-persona" >
                <span class="glyphicon glyphicon-plus"></span>
              </a>

              <br><br>

              <label>(*)Responsable Suplente Gestión Residuos</label>
              <br>
              <select class="select_personas" style="width:100%" name="responsable-suplente" required data-parsley-error-message="(*)El campo Responsable Suplente de gestión de residuos es obligatorio">
                    <option value="">Seleccione un suplente ...</option>
                    {% for persona in listado_personas %}
                      <option value="{{persona.documento}}">{{persona}}</option>
                    {% endfor %}
              </select>
              <a class="btn btn-success js-alta-persona" >
                <span class="glyphicon glyphicon-plus"></span>
              </a>

              <br><br>

              <label>(*)Responsable Técnico</label>
              <br>
              <select class="select_personas" style="width:100%" name="responsable-técnico" required data-parsley-error-message="(*)El campo Responsable Técnico es obligatorio">
                    <option value="">Seleccione un técnico ...</option>
                    {% for persona in listado_personas %}
                      <option value="{{persona.documento}}">{{persona}}</option>
                    {% endfor %}
              </select>
              <a class="btn btn-success js-alta-persona" >
                <span class="glyphicon glyphicon-plus"></span>
              </a>
            {% endif %}

          </div>
        </div>
    </div>

    <div class="form-section">
      <h3>DOMICILIO REAL DEL CENTRO GENERADOR</h3>
      <div class="panel panel-default">
            <div class="panel-body">
              {% for field in domicilio_form.visible_fields %}
                <div class="form-group">
                  <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                  {{ field|add_class:'form-control' }}
                  {% for error in field.errors %}
                    <span class="help-block">{{ error }}</span>
                  {% endfor %}
                </div>
              {% endfor %}
          </div>
        </div>
    </div>

    <div class="form-section">
      <h3>TIPO DE ACTIVIDAD</h3>
      <div class="panel panel-default">
          <div class="panel-body">
            {{actividades_form}}
          </div>
      </div>
    </div>

    <div class="form-section">
      <h3>ÁMBITO/DEPENDENCIA</h3>
      <div class="panel panel-default">
          <div class="panel-body">
            {% for field in ambito_dpcia_form.visible_fields %}
              <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field|add_class:'form-control' }}
                {% for error in field.errors %}
                  <span class="help-block">{{ error }}</span>
                {% endfor %}
              </div>
            {% endfor %}
        </div>
      </div>
    </div>

    <div class="form-section">
      <h3>CARACTERÍSTICAS GENERALES DEL CENTRO DE ATENCIÓN</h3>
      <div class="panel panel-default">
          <div class="panel-body">
            {% for field in caract_generales_form.visible_fields %}
              {% if field.html_name  != 'via_acceso' %}
                <div class="form-group">
                  <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                  {{ field|add_class:'form-control' }}
                  {% for error in field.errors %}
                    <span class="help-block">{{ error }}</span>
                  {% endfor %}
                </div>
              {% endif %}
            {% endfor %}
            <u>Vía de Acceso al centro generador</u>
            {{ caract_generales_form.via_acceso }}
        </div>
      </div>
    </div>

    <div class="form-section">
      <h3>SECTOR DE ACOPIO TRANSITORIO EN EL CENTRO GENERADOR</h3>
      <div class="panel panel-default">
          <div class="panel-body">
            <div class="form-group">
              {{ acopio_transitorio_form.camara_frio|attr:"class:camara_frio"|attr:"name:camara_frio"|attr:"onchange:valueChanged()"}}
              <label>Cámara de Frío</label>
              <br>
              <div class="dimension_camara_frio" style="display:none">
                <label>Dimensión cámara de frío</label>
                {{ acopio_transitorio_form.dimension_camara_frio}}
                <br><br>
              </div>
              {{ acopio_transitorio_form.sector_interno_p_estacionar|attr:"class:sector_interno"|attr:"name:sector_interno"|attr:"onchange:valueChanged()"}}
              <label>Sector interno p/estacionar</label>
              <br>
              <div class="dimension_sector_interno" style="display:none">
                <label>Dimensión del sector de acopio</label>
                {{ acopio_transitorio_form.dimension_sector}}
                <br>
              </div>
            </div>
            <u>Vía de Acceso al sector de acopio</u>
            <br>
            {{via_acceso_form}}
          </div>
      </div>
    </div>

    <div class="form-section">
      <h3>HORARIO DE ATENCION</h3>
      <div class="panel panel-default">
          <div class="panel-body">
            <div class="form-group">

              <label>Días</label>
              {{horario_atencion_form.dia}}
              <br>
              <label>Horario</label>
              <br>
              <div class="input-group bootstrap-timepicker timepicker">
                {{horario_atencion_form.hora|add_class:'form-control'|attr:"id:hs_timepicker"}}
                <span class="input-group-addon"><i class="glyphicon glyphicon-time"></i></span>
              </div>
            </div>
        </div>
      </div>
    </div>

    <style>
      a:link {
          text-decoration: none;
      }

      a:visited {
          text-decoration: none;
      }

      a:hover {
          text-decoration: underline;
      }

      a:active {
          text-decoration: underline;
      }
    </style>

    <div class="form-section">
      <h3>TIPO Y CANTIDAD DE RESIDUOS GENERADOR</h3>
      <div class="panel panel-default">
          <div class="panel-body">
            <!--<form action="" method="POST"> -->
              <!-- {% csrf_token %} -->
              {{ residuo_generador_formset.management_form }}
              {% for form in residuo_generador_formset.forms %}
                <div class="item">
                  <!-- {{ form.as_p }} -->
                  {% for field in form.visible_fields %}
                    <div class="form-group">
                      <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                      {{ field|add_class:'form-control' }}
                      {% for error in field.errors %}
                        <span class="help-block">{{ error }}</span>
                      {% endfor %}
                    </div>
                  {% endfor %} <!-- Agrego tweaks a cada formset -->
                  <p style=""><a class="delete" href="#">Borrar</a></p>
                </div>
              {% endfor %}
              <p><a id="add" href="#">Agregar otro elemento</a></p>
              <!-- <input type="submit" value=" Submit "/> -->
            <!--</form> -->
          </div>
      </div>
    </div>

    <div class="form-navigation">
      <button type="button" class="previous btn btn-info pull-left">&lt; Anterior</button>
      <button type="button" class="next btn btn-info pull-right">Siguiente &gt;</button>
      <span class="clearfix"></span>
    </div>

  <script type="text/javascript">

    // Función para el checkbox del formulario de sector de acopio transitorio
    function valueChanged()
    {
        if($('.camara_frio').is(":checked"))
            $(".dimension_camara_frio").show();
        else
            $(".dimension_camara_frio").hide();

        if($('.sector_interno').is(":checked"))
            $(".dimension_sector_interno").show();
        else
            $(".dimension_sector_interno").hide();
    }

    // timepicker para los campos requeridos
    $('#hs_timepicker').timepicker();

  </script>

{% endblock %}



{% block url-cancelar %}
  {% url 'generadores:listado_generadores' %}
{% endblock %}
