{% extends "easy_pdf/base.html" %}
{% load staticfiles %}
{% load staticfiles bootstrap3 %}


{% block extra_style %}
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
{% endblock %}

{% block layout_style %}

  <style type="text/css">
      @page {
          size: landscape;
          margin-left: 0.5cm;
          margin-right: 0.5cm;
          margin-top: 0.5cm;
          margin-bottom: 1cm;
          @frame header {
              -pdf-frame-content: page-header;
              margin-top: 0.7cm;
              margin-right: 2mm;
              margin-bottom: 0cm;
              margin-left: 1.2cm;
          }
          @frame footer {
              -pdf-frame-content: page-footer;
              bottom: 0cm;
              margin-left: 10cm;
              margin-right: 1cm;
              height: 1cm;
          }
      }
      table{
        text-align: center;
        border-collapse: collapse;
        border: 1px solid black;
        padding-top: 2px;
        padding-left: 2px;
      }
      td{
        width:150;
        white-space:nowrap;
        padding-right: 1px;
      }

  </style>

{%endblock%}

{% block content %}
    <div id="content">
        <div class="main">
          <h1 style="background-color: lightblue; padding-top:5px;">IMPEESA S.A ambiental</h1>
          <h2>{{ view.title }}</h2>
            <!-- Table with irregular header -->
            <table class="table">
              {% for establecimiento in establecimientos %}
                <tr>
                  <!--
                  colspan: n° de columnas dentro de la fila
                  rowspan: n° de filas dentro de la fila
                  -->
                  <td rowspan="2"><strong>Hora Progr.</strong></td>
                  <td rowspan="2"><strong>Hora Lleg.</strong></td>
                  <td rowspan="2"><strong>Hora Sal.</strong></td>
                  <td rowspan="2"><strong>Vol. Retirado</strong></td>
                  <th colspan="5" scope="colgroup">Cant. de Baldes de:</th>
                  <td colspan="1"rowspan="1">Establecimiento: <strong>{{establecimiento.establecimiento_generador|upper}}</strong></td>
                  <td rowspan="2"><strong>Sector</strong></td>
                </tr>
                <tr>
                  <th scope="col">10 dm3</th>
                  <th scope="col">20 dm3</th>
                  <th scope="col">50 dm3</th>
                  <th scope="col">120 dm3</th>
                  <th scope="col">240 dm3</th>
                  <th scope="col">Baldes:</th>
                </tr>
                <tr>
                  <td>{{establecimiento.horario_retiro}}</td>
                  <td></td><td></td>
                  <td></td><td></td>
                  <td></td><td></td>
                  <td></td><td></td>
                  <td colspan="1">
                    {% for i in "xxxx" %}
                    <table>
                      <tr>
                        <td>N°</td>
                        <td>E/S</td>
                        <td>N° Precinto</td>
                      </tr>
                      <tr>
                        <td>&nbsp</td>
                        <td>&nbsp</td>
                        <td>&nbsp</td>
                      </tr>
                    </table>
                    {% endfor %}
                  </td>
                  <td></td>
                </tr>
              {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}
