{% extends "base/base_listado.html" %}
{% load staticfiles %}
{% load staticfiles bootstrap3 %}

{% block panel-heading %}
  Generar hoja de ruta del día: {{dia}}
{% endblock %}

{% block panel-heading-tabla %}
  <div style="padding-top:0.3%; padding-left:0.1%;">
    <a target="_blank" href="{% url 'hojaRuta:hoja_ruta_pdf' dia=dia_nro %}" class="btn btn-success"><i class="fa fa-print"></i> imprimir </a>
    <a href="{% url 'hojaRuta:listado_general' %}" data-toggle="tooltip" title="Volver"><i class="fa fa-arrow-left pull-right" style="font-size: 35px;"></i></a>
  </div>
{% endblock %}

{% block thead-tabla %}
  <thead>
    <tr style="background:#6495ED;">
        <th>Razon social</th>
        <th style="text-align:center;">N° Parada</th>
        <th style="text-align: center;">Cuadrante</th>
        <th style="text-align: center;">Sector</th>
        <th style="text-align: center;">Acciones</th>
    </tr>
  </thead>
{% endblock %}

{% block tfoot-tabla %}
  <tfoot >
    <tr>
        <th>Razon social</th>
        <th style="text-align:center;">N° Parada</th>
        <th style="text-align: center;">Cuadrante</th>
        <th style="text-align: center;">Sector</th>
        <th style="text-align: center;">Acciones</th>
    </tr>
  </tfoot>
{% endblock %}

{% block tbody-tabla %}
  <tbody>
    {% for generador in listado_generadores %}
        <tr>
            <td>{{ generador.razon_social }}</td>
            {% if generador.nro_parada %}
              <td style="text-align:center;">{{ generador.nro_parada }}</td>
            {% else %}
              <td style="text-align:center;">-</td>
            {% endif %}
            {% if generador.cuadrante %}
              <td style="text-align:center;">{{ generador.cuadrante.nombre_cuadrante }}</td>
              <td style="text-align:center;">{{ generador.cuadrante.sector.nombre_sector }}</td>
            {% else %}
              <td style="text-align:center;">-</td>
              <td style="text-align:center;">-</td>
            {% endif %}
            <td align="center">
              <a class="btn btn-default" data-toggle="tooltip" title="Modificar" href="{% url 'hojaRuta:modificar_itinerario' id_generador=generador.id %}"><em class="glyphicon glyphicon-pencil"></em></a>
            </td>
        </tr>
    {% endfor %}
  </tbody>
{% endblock %}

{% block modal-btn-eliminar%}
{% endblock %}

{% block no-modal%}
{% endblock %}
