{% extends "base/base_detalle.html" %}
{% load staticfiles %}
{% load staticfiles bootstrap3 %}

{% block title %}Detalle{% endblock %}

{% block header-title %}Detalle de la Hoja de Ruta {% endblock %}

{% block panel-heading %}
  Establecimiento Generador: {{hoja_ruta.establecimiento_generador}}
{% endblock %}

{% block detalle %}
  <table class="table table-striped table-bordered">
      <tbody>
          <tr>
              <th>Hora Programada:</th>
              <td> {{hoja_ruta.hora_programada}}</td>
          </tr>
          <tr>
              <th>Hora Llegada:</th>
              <td> {{hoja_ruta.hora_llegada}}</td>
          </tr>
          <tr>
              <th>Hora Salida:</th>
              <td> {{hoja_ruta.hora_salida}}</td>
          </tr>
          <tr>
              <th>Volumen Retirado:</th>
              <td> {{hoja_ruta.volumen_retirado}}</td>
          </tr>
      </tbody>
  </table>
{% endblock %}

{% block url-volver %}
  {% url 'hojaRuta:listado_hojas_de_ruta' %}
{% endblock %}
