{% extends "base/base_forms.html" %}
{% load staticfiles %}
{% load staticfiles bootstrap3 %}
{% load widget_tweaks %}

{% block stylesheets %}
  {{block.super}}
  <link rel="stylesheet" href="{% static 'css/bootstrap-timepicker.min.css' %}"/>
{% endblock %}

{% block scripts %}
  {{block.super}}
  <script type="text/javascript" src="{% static 'js/jquery.mask.js' %}"></script>
{% endblock %}

{% block title %}Hoja de Ruta{% endblock %}

{% block header-title %} Información de Hoja de Ruta{% endblock %}

{% block step-form %}

  <div class="form-section">
    <div class="panel panel-default">
      <div class="panel-heading">DATOS HOJA DE RUTA</div>
      <div class="panel-body">
        <label>(*)Establecimiento Generador:</label>
        {{hojaruta_form.establecimiento_generador|add_class:'select-2'|attr:"required:"}}
        <br>
        <label>(*)Fecha Impresión:</label>
        {{hojaruta_form.fecha_impresion|add_class:'form-control'|attr:"readonly"|attr:"style:background:white"|attr:"required:"|attr:"data-parsley-error-message:(*)El campo fecha impresión es obligatorio"}}
        <br>
        <label>(*)Hora Programada:</label>
        <br>
        {{hojaruta_form.hora_programada|add_class:'form-control hora'}}
        <br>
        <label>(*)Hora Llegada:</label>
        <br>
        {{hojaruta_form.hora_llegada|add_class:'form-control hora'}}
        <br>
        <label>(*)Hora Salida:</label>
        <br>
        {{hojaruta_form.hora_salida|add_class:'form-control hora'}}
        <br>
        <label>(*)Volumen Retirado:</label>
        {{hojaruta_form.volumen_retirado|add_class:'form-control'|attr:"required:"}}
        <br>
      </div>
    </div>
  </div>

  <div class="form-section">
     <div class="panel panel-default">
       <div class="panel-heading">PASO FINAL</div>
       <div class="panel-body">
         <div class="panel panel-default">
           <div class="panel-body">
             <h1 style="color:red;">ATENCIÓN!</h1>
             <p><strong>Recordar cargar los baldes utilizados en el menú de opciones.</strong></p>
          </div>
        </div>
       </div>
     </div>
    </div>


  <script type="text/javascript">
    //MASCARAS
    $(document).ready(function(){
      $('.hora').mask('00:00', {placeholder: "__:__"});
    });
  </script>


{% endblock %}

<!-- para no mostrar step domicilio -->
{% block no-domicilio-step-form%}
{% endblock %}

{% block url-cancelar %}
  {% url 'hojaRuta:listado_hojas_de_ruta' %}
{% endblock %}

<!-- no incluye alta de las personas -->
{% block non-alta-persona%}
{% endblock %}
