{% extends "base/base_detalle.html" %}
{% load staticfiles %}
{% load staticfiles bootstrap3 %}

{% block title %}Detalle{% endblock %}

{% block header-title %}Detalle del Horario de Atención{% endblock %}

{% block panel-heading %}
  Horarios
{% endblock %}

{% block detalle %}
  <table class="table table-striped table-bordered">
      <tbody>
            <tr>
                <th>Horario Desde(Turno Mañana):</th>
                {% if horario_atencion.hora_desde_m %}
                  <td>{{horario_atencion.hora_desde_m}}</td>
                {% else %}
                  <td>-</td>
                {% endif %}
            </tr>

            <tr>
                <th>Horario Hasta(Turno Mañana):</th>
                {% if horario_atencion.hora_hasta_m %}
                  <td>{{horario_atencion.hora_hasta_m}}</td>
                {% else %}
                  <td>-</td>
                {% endif %}
            </tr>

          <tr>
              <th>Horario Desde(Turno Tarde):</th>
              {% if horario_atencion.hora_desde_t %}
                <td>{{horario_atencion.hora_desde_t}}</td>
              {% else %}
                <td>-</td>
              {% endif %}
          </tr>
          <tr>
              <th>Horario Hasta(Turno Tarde):</th>
              {% if horario_atencion.hora_hasta_t %}
                <td>{{horario_atencion.hora_hasta_t}}</td>
              {% else %}
                <td>-</td>
              {% endif %}
          </tr>
      </tbody>
  </table>
{% endblock %}

{% block url-volver %}
  {% url 'hojaRuta:generar_hoja_ruta' %}
{% endblock %}
