{% extends "easy_pdf/base.html" %}
{% load staticfiles %}
{% load staticfiles bootstrap3 %}


{% block extra_style %}
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
{% endblock %}

{% block layout_style %}

  <style type="text/css">
      @page {
          size: landscape;
          margin-left: 0.5cm;
          margin-right: 0.5cm;
          margin-top: 0.5cm;
          margin-bottom: 1cm;
          @frame header {
              -pdf-frame-content: page-header;
              margin-top: 0.7cm;
              margin-right: 2mm;
              margin-bottom: 0cm;
              margin-left: 1.2cm;
          }
          @frame footer {
              -pdf-frame-content: page-footer;
              bottom: 0cm;
              margin-left: 10cm;
              margin-right: 1cm;
              height: 1cm;
          }
      }
      table{
        text-align: center;
        border-collapse: collapse;
        border: 1px solid black;
        padding-top: 2px;
        padding-left: 2px;
      }
      td{
        width:120;
        white-space:nowrap;
        padding-right: 1px;
      }

  </style>

{%endblock%}

{% block content %}
<div id="content">
    <div class="main">
      <h1 style="background-color: lightblue; padding-top:5px;">IMPEESAmbiental</h1>
      <h2>{{ view.title }}</h2>
      <h3 style="text-align: center;">{{nombre_mes.upper}}, {{anio}}</h3>
      <table class="table">
          <tr>
            <!--
            colspan: n° de columnas dentro de la fila
            rowspan: n° de filas dentro de la fila
            -->
            <td rowspan="2"><strong>Establecimiento Generador</strong></td>
            <th colspan="7" scope="colgroup">Cantidad de Envases</th>
            <td rowspan="2"><strong>Total de Envases Utilizados</strong></td>
            <td rowspan="2"><strong>Total de dm3</strong></td>
          </tr>
          <tr>
            <th scope="col">5 dm3</th>
            <th scope="col">10 dm3</th>
            <th scope="col">20 dm3</th>
            <th scope="col">50 dm3</th>
            <th scope="col">120 dm3</th>
            <th scope="col">200 dm3</th>
            <th scope="col">240 dm3</th>
          </tr>
          {% for key, value in establecimientos.items %}
            <tr>
              <td align="left">{{key.capitalize}}</td>
              {% for k, v in value.0.items %} <!-- posicion donde estan los baldes -->
                <td>{{v}}</td> <!--Segunda posición de la tupla de baldes utilizado (no es necesario la clave del diccionario) -->
              {% endfor %}
              <td>{{value.1}}</td> <!-- posicion totales -->
              <td>{{value.2}}</td>
            </tr>
          {% endfor %}
      </table>
    </div>
</div>
{% endblock %}
