{% extends "base/base_forms.html" %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block title %}Persona{% endblock %}

{% block header-title %} Información de la Persona {% endblock %}

{% block step-form %}

  <div class="form-section">
    <div class="panel panel-default">
      <div class="panel-heading">DATOS PERSONA</div>
      <div class="panel-body">
        {% for field in persona_form.visible_fields %}
            <div class="form-group">
              <label for="{{ field.id_for_label }}">{{ field.label }}</label>
              {{ field|add_class:'form-control' }}
              {% for error in field.errors %}
                <span style="color:red;" class="help-block">{{ error }}</span>
              {% endfor %}
            </div>
        {% endfor %}
      </div>
    </div>
  </div>
  
{% endblock %}


{% block url-cancelar %}
  {% url 'personas:listado_personas' %}
{% endblock %}
