{% extends "base/base_forms.html" %}
{% load staticfiles %}
{% load staticfiles bootstrap3 %}
{% load widget_tweaks %}

{% block title %}Modificar Dato{% endblock %}

{% block header-title %} Modificación del Itinerario de la Hoja de Ruta {% endblock %}

{% block step-form %}

  <div class="form-section">
    <div class="panel panel-default">
      <div class="panel-heading">DATOS DEL CENTRO GENERADOR</div>
        <div class="panel-body">
          <label>Número de Parada:</label>
          {{generador_form.nro_parada|add_class:'form-control'|attr:"type:number"|attr:"data-parsley-type=integer"}}
          <br>
          <label>recorrido:</label>
          {{generador_form.recorrido|add_class:'select-2'}}
          <br>
        </div>
    </div>
  </div>

{% endblock %}

{% block url-cancelar %}
  {% url 'generadores:listado_establecimientos_recorrido' id_recorrido=recorrido %}
{% endblock %}
