{% extends "base/base_detalle.html" %}
{% load staticfiles %}
{% load staticfiles bootstrap3 %}

{% block title %}Detalle{% endblock %}

{% block header-title %}Detalle del Cliente{% endblock %}

{% block panel-heading %}
  Nombres: {{cliente.apoderado.apellido}}, {{cliente.apoderado.nombre}}
{% endblock %}

{% block detalle %}
  <table class="table table-striped table-bordered">
      <tbody>
          <tr>
              <th>Documento:</th>
              <td> {{cliente.apoderado.documento}}</td>
          </tr>
          {% if cliente.cargo %}
            <tr>
                <th>Cargo:</th>
                <td> {{cliente.cargo}}</td>
            </tr>
          {% endif %}
          {% if cliente.apoderado.telefono_fijo %}
            <tr>
                <th>Teléfono:</th>
                <td> {{cliente.apoderado.telefono_fijo}}</td>
            </tr>
          {% endif %}
          {% if cliente.apoderado.celular %}
            <tr>
                <th>Celular:</th>
                <td> {{cliente.apoderado.celular}}</td>
            </tr>
          {% endif %}
          {% if cliente.apoderado.email %}
            <tr>
                <th>Email:</th>
                <td> {{cliente.apoderado.email}}</td>
            </tr>
          {% endif %}
          <tr>
              <th>Razón Social:</th>
              <td> {{cliente.razon_social}}</td>
          </tr>
          <tr>
              <th>Domicilio Legal:</th>
              <td> {{cliente.domicilio_legal}}</td>
          </tr>
          {% if cliente.contacto_comercial %}
            <tr>
                <th>Contacto Comercial:</th>
                <td> {{cliente.contacto_comercial}}</td>
            </tr>
          {% endif %}
          <tr>
              <th>Fecha Vínculo:</th>
              <td> {{cliente.fecha_vinculo}}</td>
          </tr>
          {% if cliente.dato_impositivo %}
            <tr>
                <th>Datos Impositivos:</th>
                <td> {{cliente.dato_impositivo}}</td>
            </tr>
          {% endif %}
          {% if cliente.cuit_cuil %}
            <tr>
                <th>Cuit/Cuil:</th>
                <td>{{ cliente.cuit_cuil }}</td>
            </tr>
          {% endif %}
      </tbody>
  </table>
{% endblock %}

{% block url-volver %}
  {% url 'personas:listado_personas' %}
{% endblock %}
