{% extends "base/base_forms.html" %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block more-stylesheets %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.css' %}"/>
{% endblock %}

{% block scripts %}
  {{block.super}}
{% endblock %}

{% block title %}Cliente{% endblock %}

{% block header-title %} Información de Cliente{% endblock %}


{% block prim-fila %}

  <div class="col-md-4">
    <!--columna donde ubica panel -->
    <div class="panel panel-default" style="height:75%">
      <div class="panel-heading">DATOS APODERADO/RESPONSABLE</div>
      <div class="panel-body">
            <label>Apoderado</label>
            <br>
            <select class="select_generico" style="width:100%" name="apoderado" required data-parsley-error-message="(*)El campo Apoderado es obligatorio">
                  <option value="">Seleccione un apoderado...</option>
                  {% for persona in listado_personas %}
                    <option value="{{persona.documento}}">{{persona}}</option>
                  {% endfor %}
            </select>
            <br>
            <a class="btn btn-success js-alta-persona" >
              <span class="glyphicon glyphicon-plus"></span>
            </a>

            <br><br>

            <label>Contacto Comercial</label>
            <br>
            <select class="select_generico" style="width:100%" name="contacto-comercial" required data-parsley-error-message="(*)El campo Contacto Comercial es obligatorio">
                  <option value="">Seleccione un contacto...</option>
                  {% for persona in listado_personas %}
                    <option value="{{persona.documento}}">{{persona}}</option>
                  {% endfor %}
            </select>
            <br>
            <a class="btn btn-success js-alta-persona" >
              <span class="glyphicon glyphicon-plus"></span>
            </a>        
        <br><br>
        {% for field in cliente_form.visible_fields %}
          <div class="form-group">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field|add_class:'form-control' }}

            {% for error in field.errors %}
              <span class="help-block">{{ error }}</span>
            {% endfor %}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="panel panel-default" style="height:75%">
      <div class="panel-heading">DATOS IMPOSITIVOS</div>
        <div class="panel-body">
          {{datos_impositivos_form}}
        </div>
      </div>
  </div>

  <div class="col-md-4">
    <div class="panel panel-default" style="height:100%">
      <div class="panel-heading">DOMICILIO LEGAL PARA FACTURACION</div>
        <div class="panel-body">
          {% for field in domicilio_form.visible_fields %}
            <div class="form-group">
              <label for="{{ field.id_for_label }}">{{ field.label }}</label>
              {{ field|add_class:'form-control' }}
              {% for error in field.errors %}
                <span class="help-block">{{ error }}</span>
              {% endfor %}
            </div>
          {% endfor %}
      </div>
    </div>
  </div>

{% endblock %}

{% block url-cancelar %}
  {% url 'clientes:listado_clientes' %}
{% endblock %}
