{% extends "base/base_detalle.html" %}
{% load staticfiles %}
{% load staticfiles bootstrap3 %}

{% block title %}Detalle{% endblock %}

{% block header-title %}Detalle del Cliente{% endblock %}

{% block panel-heading %}
  Nombres: {{cliente.apoderado.apellido}}, {{cliente.apoderado.nombre}}
{% endblock %}

{% block detalle %}
  <table class="table table-striped table-bordered">
      <tbody>
          <tr>
              <th>Documento:</th>
              <td> {{cliente.apoderado.documento}}</td>
          </tr>
          <tr>
              <th>Cargo:</th>
              <td> {{cliente.apoderado.cargo}}</td>
          </tr>
          <tr>
              <th>Teléfono:</th>
              <td> {{cliente.apoderado.telefono_fijo}}</td>
          </tr>
          <tr>
              <th>Celular:</th>
              <td> {{cliente.apoderado.celular}}</td>
          </tr>
          <tr>
              <th>Email:</th>
              <td> {{cliente.apoderado.email}}</td>
          </tr>
      </tbody>
  </table>
{% endblock %}

{% block url-volver %}
  {% url 'clientes:listado_clientes' %}
{% endblock %}
