{% extends "base/base_listado.html" %}
{% load staticfiles %}
{% load staticfiles bootstrap3 %}

{% block panel-heading %}
  LISTADO DE CLIENTES (APODERADOS/RESPONSABLES)
{% endblock %}

{% block btn-alta %}
  <a href="{% url 'clientes:alta_clientes' %}" class="btn btn-primary">Nuevo Cliente</a>
{% endblock %}

{% block thead-tabla %}
  <thead>
  <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Telefono</th>
      <th>Acciones</th>
  </tr>
  </thead>
{% endblock %}

{% block tfoot-tabla %}
  <tfoot >
     <tr>
       <th>Nombre</th>
       <th>Apellido</th>
       <th>Telefono</th>
       <th style="text-align: center;"><i class="fa fa-cogs"></i></th>
    </tr>
  </tfoot>
{% endblock %}

{% block tbody-tabla %}
  <tbody>
  {% for cliente in listado_clientes %}
      <tr>
          <td>{{ cliente.apoderado.nombre }}</td>
          <td>{{ cliente.apoderado.apellido }}</td>
          {% if cliente.apoderado.telefono %}
            <td>{{ cliente.apoderado.telefono_fijo }}</td>
          {% else %}
            <td>-</td>
          {% endif %}
          <td align="center">
             <a class="btn btn-warning" data-toggle="tooltip" title="Detalles" href="{% url 'clientes:detalle_clientes' id_cliente=cliente.id%}"><em class="glyphicon glyphicon-eye-open"></em></a>
             <a class="btn btn-default" data-toggle="tooltip" title="Modificar" href="{% url 'clientes:modificar_clientes' id_cliente=cliente.id%}"><em class="glyphicon glyphicon-pencil"></em></a>
             <a id="cliente_id"class="btn btn-danger btn-baja" data-clienteid="{{cliente.id}}"  data-clienterazonsocial="{{cliente.razon_social}}" data-clientenombre="{{cliente.apoderado.nombre}}" data-clienteapellido="{{cliente.apoderado.apellido}}"data-toggle="modal" data-target="#modal_baja" title="Eliminar"><em class="glyphicon glyphicon-trash"></em></a>
          </td>
      </tr>
  {% endfor %}
  </tbody>
{% endblock %}

{% block modal-btn-eliminar%}
  <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="eliminarCliente(value)">Eliminar</button>
{% endblock %}

{% block modal-scripts %}
  <script>
    //codigo para cambiar los datos del modal y para dar de baja
    $(document).ready(function () {
      $('#modal_baja').on('show.bs.modal', function (event) { // id of the modal with event
        var button = $(event.relatedTarget) // Button that triggered the modal
        var cliente_rs = button.data('clienterazonsocial') // Extract info from data-* attributes
        var cliente_nombre = button.data('clientenombre')
        var cliente_apellido = button.data('clienteapellido')
        var cliente_id = button.data('clienteid') // id cliente.

        var title = 'Cliente: ' + cliente_apellido + ', ' + cliente_nombre
        var content = '¿Está seguro que quiere eliminar la persona con razon social: ' + cliente_rs + '?'

        // actualiza el contenido del manual
        var modal = $(this)
        modal.find('.modal-title').text(title)
        modal.find('.modal-body').text(content)

        // se le pasa el valor del documento al boton de confirmar
        modal.find('button.btn-danger').val(cliente_id)
      })
    })

    function eliminarCliente(cliente_id) {
      var request = $.ajax({
          type: "POST",
          url: "{% url 'clientes:baja_clientes' %}",
          data: {
              "csrfmiddlewaretoken": "{{ csrf_token }}",
              "cliente_id": cliente_id
          },
      });
    }

    //para actualizar cuando se da de baja.
    $('#modal_baja').on('hidden.bs.modal', function () {
      window.location.reload(true);
    })
  </script>
{% endblock %}
