{% extends "base/base_forms.html" %}
{% load widget_tweaks %}

{% block title %}Cliente{% endblock %}

{% block header-title %}Alta de Cliente{% endblock %}

{% block panel-izq %}
<div class="col-md-5">
  <!--columna donde ubica panel -->
  <div class="panel panel-default">
    <div class="panel-heading">Datos Personales</div>
    <div class="panel-body">
      {% for hidden in cliente_form.hidden_fields %}
        {{ hidden }}
      {% endfor %}
      {% for field in cliente_form.visible_fields %}
        <div class="form-group">
          <label for="{{ field.id_for_label }}">{{ field.label }}</label>
          {{ field|add_class:'form-control' }}
          {% for error in field.errors %}
            <span class="help-block">{{ error }}</span>
          {% endfor %}
        </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}

{% block panel-der%}
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">Domicilio</div>
        <div class="panel-body">
          {% for hidden in domicilio_form.hidden_fields %}
            {{ hidden }}
          {% endfor %}
          {% for field in domicilio_form.visible_fields %}
            <div class="form-group">
              <label for="{{ field.id_for_label }}">{{ field.label }}</label>
              {{ field|add_class:'form-control' }}
              {% for error in field.errors %}
                <span class="help-block">{{ error }}</span>
              {% endfor %}
            </div>
          {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}

{% block url-cancelar %}
  {% url 'listado_clientes' %}
{% endblock %}
