{% extends "base/base_forms.html" %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block title %}Cliente{% endblock %}

{% block header-title %} Información del Cliente {% endblock %}

{% block scripts %}
  {{block.super}}
  <script type="text/javascript" src="{% static 'js/jquery.mask.js' %}"></script>
{% endblock %}

{% block step-form %}

  <div class="form-section">
    <div class="panel panel-default">
      <div class="panel-heading">DATOS APODERADO/RESPONSABLE</div>
      <div class="panel-body">
        <label>(*)Apoderado:</label>
        {{cliente_form.apoderado|add_class:"select-2"|attr:"required:"|attr:"data-parsley-error-message:(*)El campo apoderado es obligatorio"}}        
        <br>
        <label>(*)Contacto Comercial:</label>
        {{cliente_form.contacto_comercial|add_class:"select-2"|attr:"required:"|attr:"data-parsley-error-message:(*)El campo contacto comercial es obligatorio"}}
        <br>
        <label>(*)Fecha vínculo:</label>
        {{cliente_form.fecha_vinculo|add_class:'form-control'|attr:"readonly"|attr:"style:background:white"|attr:"required:"|attr:"data-parsley-error-message:(*)El campo fecha vínculo es obligatorio"}}
        <br>
        <label>(*)Razón Social:</label>
        {{cliente_form.razon_social|add_class:'form-control'|attr:"required:"|attr:"data-parsley-error-message:(*)El campo razón social es obligatorio"}}
        <br>
        <label>(*)Cargo:</label>
        {{cliente_form.cargo|add_class:'form-control'|attr:"required:"|attr:"data-parsley-error-message:(*)El campo cargo es obligatorio"}}
        <label>(*)Cuit/Cuil (Sin Espacios):</label>
        {{cliente_form.cuit_cuil|add_class:'form-control cuil'|attr:"required:"|attr:"data-parsley-error-message:(*)El campo CUIT/CUIL es obligatorio"}}
      </div>
    </div>

    <script>
      //MASCARAS
      $(document).ready(function(){
        $('.cuil').mask('00-00000000-0');
      });
    </script>

  </div>

  {% include 'base/form_section_domicilio.html' %}

  <div class="form-section">
    <div class="panel panel-default">
      <div class="panel-heading">DATOS IMPOSITIVOS</div>
        <div class="panel-body">
          <label>(*)Impuesto Ganancias:</label>
          {{datos_impositivos_form.impuestos_ganancias|attr:"required:"|attr:"data-parsley-error-message:(*)Seleccione al menos un impuesto a las ganancias"}}
          <br>
          <label>(*)Impuesto Valor Agregado:</label>
          {{datos_impositivos_form.impuestos_valor_agregado|attr:"required:"|attr:"data-parsley-error-message:(*)Seleccione al menos un impuesto al valor agregado"}}
          <br>
          <label>(*)Impuesto Ingresos Brutos:</label>
          {{datos_impositivos_form.ingresos_brutos|attr:"required:"|attr:"data-parsley-error-message:(*)Seleccione al menos un impuesto de ingresos brutos"}}
          <br>
          <label>(*)Número IIBB:</label>
          {{datos_impositivos_form.nro_iibb|add_class:'form-control'|attr:"required:"|attr:"type:number"|attr:"data-parsley-type=integer"|attr:"data-parsley-error-message:(*)El campo IIBB es obligatorio"}}
          <br>
        </div>
    </div>
  </div>

{% endblock %}


{% block url-cancelar %}
  {% url 'clientes:listado_clientes' %}
{% endblock %}
