{% extends "base/base_listado.html" %}
{% load staticfiles %}
{% load staticfiles bootstrap3 %}



{% block thead-tabla %}
  <thead>
  <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Email</th>
  </tr>
  </thead>
{% endblock %}

{% block tbody-tabla %}
  <tbody>
  {% for cliente in listado_clientes %}
      <tr>
          <td>{{ cliente.nombre }}</td>
          <td>{{ cliente.apellido }}</td>
          <td>{{ cliente.email }}</td>
      </tr>
  {% endfor %}
  </tbody>

{% endblock %}
