{% extends "balde/balde_form.html" %}
{% load widget_tweaks %}

{% block step-form %}

  <div class="form-section">
     <div class="panel panel-default">
       <div class="panel-heading">DATOS BALDES</div>
         <div class="panel-body">
           <div class="form-group">
             <label>(*)Capacidad Balde:</label>
             {{baldepactado_form.capacidad_balde|add_class:"select-2"|attr:"required:"|attr:"data-parsley-error-message:(*)El campo capacidad del balde es obligatorio"}}
           </div>
           <div class="form-group">
             <label>(*)Color de Precinto:</label>
           </div>
           {{baldepactado_form.color_precinto|add_class:'select-2'|attr:"required:"|attr:"data-parsley-error-message:(*)El campo color de precinto es obligatorio"}}
           <br>
           <div class="form-group">
             <label>(*)Cantidad:</label>
             {{baldepactado_form.cantidad|add_class:"form-control"|attr:"required:"|attr:"data-parsley-error-message:(*)El campo cantidad es obligatorio"}}
           </div>
         </div>
     </div>
   </div>

{% endblock %}

{% block url-cancelar %}
    {% url 'generadores:listado_baldes_pactados' nro_generador=nro_generador %}
{% endblock %}
