{% extends "base/base_forms.html" %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block title %}Cuadrante{% endblock %}

{% block header-title %} Información del Cuadrante {% endblock %}

{% block step-form %}

  <div class="form-section">
    <div class="panel panel-default">
      <div class="panel-heading">DATOS CUADRANTE</div>
      <div class="panel-body">
        <label>(*)Nombre:</label>
        {{cuadrante_form.nombre_cuadrante|add_class:'form-control nombre_cuadrante'|attr:"required:"|attr:"data-parsley-error-message:(*)El campo nombre es obligatorio"}}
        <br>
        <label>(*)Sector:</label>
        {{cuadrante_form.sector|add_class:"select-2"|attr:"required:"|attr:"data-parsley-error-message:(*)El campo sector es obligatorio"}}
        <script>
          $('.nombre_cuadrante').on('input', function(evt) {
            $(this).val(function (_, val) {
              return val.toUpperCase();
            });
          });
        </script>
      </div>
    </div>
  </div>

{% endblock %}


{% block url-cancelar %}
  {% url 'generadores:listado_sectores' %}
{% endblock %}
