{% extends "base/base_listado.html" %}
{% load staticfiles %}
{% load staticfiles bootstrap3 %}

{% block panel-heading %}
  LISTADO DE CUADRANTES
{% endblock %}

{% block panel-heading-tabla %}
  <div style="padding-top:0.3%; padding-left:0.1%;">
    <a class="btn btn-primary js-alta-cuadrante"><i class="fa fa-plus"></i> Nuevo Cuadrante</a>
  </div>
{% endblock %}

{% block thead-tabla %}
  <thead>
  <tr style="background:#6495ED;">
      <th>Nombre</th>
      <th>Sector</th>
      <th>Acciones</th>
  </tr>
  </thead>
{% endblock %}

{% block tfoot-tabla %}
  <tfoot >
     <tr>
       <th>Nombre</th>
       <th>Sector</th>
       <th style="text-align: center;"><i class="fa fa-cogs"></i></th>
    </tr>
  </tfoot>
{% endblock %}

{% block tbody-tabla %}
  <tbody>
  {% for cuadrante in listado_cuadrantes %}
      <tr>
          <td>{{ cuadrante.nombre_cuadrante }}</td>
          <td>{{ cuadrante.sector }}</td>
          <td align="center">
             <a class="btn btn-default" data-toggle="tooltip" title="Modificar" href="{% url 'generadores:modificar_cuadrantes' id_cuadrante=cuadrante.id%}"><em class="glyphicon glyphicon-pencil"></em></a>
             <a id="cuadrante_id"class="btn btn-danger btn-baja" data-cuadranteid="{{cuadrante.id}}" data-cuadrantenombre="{{cuadrante.nombre_cuadrante}}" data-toggle="modal" data-target="#modal_baja" title="Eliminar"><em class="glyphicon glyphicon-trash"></em></a>
          </td>
      </tr>
  {% endfor %}
  </tbody>
{% endblock %}

{% block more-datos %}
  {% include "establecimiento/cuadrante/cuadrante_alta.html" %}
{% endblock %}

{% block modal-btn-eliminar%}
  <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="eliminarCuadrante(value)">Eliminar</button>
{% endblock %}

{% block modal-scripts %}
  <script>
    //codigo para cambiar los datos del modal y para dar de baja
    $(document).ready(function () {
      $('#modal_baja').on('show.bs.modal', function (event) { // id of the modal with event
        var button = $(event.relatedTarget) // Button that triggered the modal
        var cuadrante_nombre = button.data('cuadrantenombre')
        var cuadrante_id = button.data('cuadranteid') // id localidad.

        var title = 'cuadrante: ' + cuadrante_nombre
        var content = '¿Está seguro que quiere eliminar el cuadrante ?'


        // actualiza el contenido del manual
        var modal = $(this)
        modal.find('.modal-title').text(title)
        modal.find('.modal-body').text(content)

        // se le pasa el valor del documento al boton de confirmar
        modal.find('button.btn-danger').val(cuadrante_id)
      })
    })

    function eliminarCuadrante(cuadrante_id) {
      var request = $.ajax({
          type: "POST",
          url: "{% url 'generadores:baja_cuadrantes' %}",
          data: {
              "csrfmiddlewaretoken": "{{ csrf_token }}",
              "cuadrante_id": cuadrante_id
          },
      });
    }

    //para actualizar cuando se da de baja.
    $('#modal_baja').on('hidden.bs.modal', function () {
      window.location.reload(true);
    })
  </script>
{% endblock %}
