{% extends "easy_pdf/base.html" %}
{% load staticfiles %}
{% load staticfiles bootstrap3 %}
{% load hoja_ruta_extras %}


{% block extra_style %}
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
{% endblock %}

{% block layout_style %}

  <style type="text/css">
      @page {
          size: landscape;
          margin-left: 0.5cm;
          margin-right: 0.5cm;
          margin-top: 0.5cm;
          margin-bottom: 1cm;
          @frame header {
              -pdf-frame-content: page-header;
              margin-top: 0.7cm;
              margin-right: 2mm;
              margin-bottom: 0cm;
              margin-left: 1.2cm;
          }
          @frame footer {
              -pdf-frame-content: page-footer;
              bottom: 0cm;
              margin-left: 10cm;
              margin-right: 1cm;
              height: 1cm;
          }
      }
      table{
        text-align: center;
        border-collapse: collapse;
        border: 1px solid black;
        padding-top: 2px;
        padding-left: 2px;
      }
      td{
        width:120;
        white-space:nowrap;
        padding-right: 1px;
      }

  </style>

{%endblock%}


{% block content %}
  <div id="content">
      <div class="main">

        <table style="border: none;" cellspacing="0" cellpadding="0">
          <tr>
            <th style="text-align: left; font-size:170%;" colspan="13">IMPEESAmbiental</th>
            <td style="text-align: left; font-size:80%; padding-top:5" colspan="3">LEGAJO IP-0012</td>
          </tr>
          <tr>
            <th style="text-align: left;"colspan="13">CUIT 30-70898647-6</th>
            <td style="text-align: left; font-size:80%;" colspan="3">REGISTRO OPERADOR N° 852</td>
          </tr>
          <tr>
            <td style="text-align: left;" colspan="13"></td>
            <td style="text-align: left; font-size:80%;" colspan="3">REGISTRO TRANSPORTISTA N° 853</td>
          </tr>
          <tr></tr>
          <tr>
            <th style="text-align: left;" colspan="13">{{ view.title }} {{dia.1}}</th>
            <td style="text-align: left; font-size:100%;" colspan="3"><strong>{{ view.sub_title }}</strong></td>
          </tr>
        </table>

        <h3 style="text-align: center; font-size:120%"> Recorrido: {{ recorrido.nombre }}</h3>
          <!-- Table with irregular header -->
          <table class="table">
            {% for establecimiento in establecimientos %}
              <tr>
                <!--
                colspan: n° de columnas dentro de la fila
                rowspan: n° de filas dentro de la fila
                -->
                <td colspan="1" rowspan="2"><strong>N° Generador</strong></td>
                <td colspan="1" rowspan="2"><strong>Hora Llegada</strong></td>
                <td colspan="1" rowspan="2"><strong>Hora Retiro</strong></td>
                <td colspan="1" rowspan="2"><strong>N° Manifiesto</strong></td>
                <th colspan="13" scope="colgroup" align="left" >Establecimiento: {{establecimiento.razon_social|upper}}, Domicilio: {{establecimiento.direccion|upper}}, Cuit: {{ establecimiento.cuit|default_if_none:"-" }} || {{establecimiento.localidad.nombre}} ||  {% if establecimiento|baldes_pactados %} BALDES: {{ establecimiento|baldes_pactados }} {% endif %} </th>

              </tr>
              <tr>
                <td align="left"rowspan="1" scope="colgroup">Retiros</td>
                {% for i in "xxxxxx" %}
                  <td align="left">N° </td>
                  <td align="left">Pr </td>
                {% endfor %}
              </tr>
              <tr>
                <td>{{ establecimiento.nro_inscripcion|default_if_none:"-" }}</td>
                <td></td><td></td>
                <td></td><td align="left">Entregas</td>
                <td></td><td></td>
                <td></td><td></td>
                <td></td><td></td>
                <td></td><td></td>
                <td></td><td></td>
                <td></td><td></td>
              </tr>
            {% endfor %}
          </table>

          <br><br>

          <table style="border: none;" cellspacing="0" cellpadding="0">
            <tr>
              <th style="text-align: left; font-size:80%;" colspan="3">PATENTE UNIDAD .........................</th>
              <th style="text-align: center; font-size:80%;" colspan="10">LTS. COMBUSTIBLE .........................</th>
              <th style="text-align: left; font-size:80%;" colspan="3">FIRMA ...............................................</th>
            </tr>
            <tr>
              <th style="text-align: left; font-size:80%;" colspan="3">KM. FINAL  .........................</th>
            </tr>
            <tr>
              <th style="text-align: left; font-size:80%;" colspan="3">KM. INICIAL  .........................</th>
              <th style="text-align: center; font-size:80%;" colspan="10">PROMEDIO .........................................</th>
              <th style="text-align: left; font-size:80%;" colspan="3">ACLARACIÓN ...............................................</th>
            </tr>
            <tr>
              <th style="text-align: left; font-size:80%;" colspan="3">TOTAL KMS. .........................</th>
            </tr>
          </table>

          {% if baldes_utilizados%}
            <br>
            <table style="border: none;" cellspacing="0" cellpadding="0">
              <tr>
                <th style="text-align: left; font-size:80%;" colspan="3">TOTAL DE BALDES REQUERIDOS</th>
              </tr>
              <td style="text-align: left; font-size:80%; padding-top:1" colspan="1">
              |
              {% for k,v in baldes_utilizados.items %}
                  <strong>{{k}}dm: {{v}}</strong>&nbsp|&nbsp
              {% endfor %}
              </td>
            </table>
          {% endif %}

      </div>
  </div>
{% endblock %}
