{% extends "base/base_forms.html" %}
{% load staticfiles %}
{% load staticfiles bootstrap3 %}
{% load widget_tweaks %}

{% block title %} Balde{% endblock %}

{% block header-title %} Información de Balde{% endblock %}

{% block step-form %}

  <div class="form-section">
     <div class="panel panel-default">
       <div class="panel-heading">DATOS BALDE</div>
         <div class="panel-body">
           <label>(*)Número de Balde:</label>
           {{balde_form.nro_balde|add_class:'form-control'|attr:"required:"}}
           <br>
           {% for error in balde_form.nro_balde.errors %}
               <span style="color:red;" class="help-block"> Ya Existe un Balde con este número.</span>
           {% endfor %}
           <br>
           <label>(*)Capacidad:</label>
           {{balde_form.capacidad|add_class:'select-2'|attr:"required:"}}
           <br>
         </div>
     </div>
   </div>

{% endblock %}

{% block url-cancelar %}
  {% url 'baldes:listado_baldes' %}
{% endblock %}
