{% extends "base/base_forms.html" %}
{% load staticfiles %}
{% load staticfiles bootstrap3 %}
{% load widget_tweaks %}

{% block title %} Balde{% endblock %}

{% block header-title %} Información de Balde{% endblock %}

{% block step-form %}

  <div class="form-section">
     <div class="panel panel-default">
       <div class="panel-heading">DATOS BALDE</div>
         <div class="panel-body">
           <label>(*)Número de Balde:</label>
           {{balde_form.nro_balde|add_class:'form-control'|attr:"required:"}}
           <br>
           <label>(*)Capacidad:</label>
           {{balde_form.capacidad|add_class:'form-control'|attr:"required:"}}
           <br>
           <label>(*)Establecimiento Generador:</label>
           {{balde_form.establecimiento_generador|add_class:"select-2"|attr:"required:"|attr:"data-parsley-error-message:(*)El campo Establecimiento es obligatorio"}}
           <br>
         </div>
     </div>
   </div>

{% endblock %}

<!-- para no mostrar step domicilio -->
{% block no-domicilio-step-form%}
{% endblock %}

{% block url-cancelar %}
  {% url 'baldes:listado_baldes' %}
{% endblock %}

<!-- no incluye alta de las personas -->
{% block non-alta-persona%}
{% endblock %}
