{% extends "base/base_listado.html" %}
{% load staticfiles %}

{% block panel-heading %}
  LISTADO DE BALDES
{% endblock %}

{% block panel-heading-tabla %}
  <a href="{% url 'baldes:alta_modif_balde' %}" class="btn btn-primary"><i class="fa fa-plus"></i> Nuevo Balde </a>
{% endblock %}


{% block thead-tabla %}
  <thead>
  <tr style="background:#6495ED;">
      <th>N° Balde</th>
      <th>Capacidad</th>
      <th>Establecimiento</th>
      <th>Acciones</th>
  </tr>
  </thead>
{% endblock %}

{% block tfoot-tabla %}
  <tfoot >
     <tr>
       <th>N° Balde</th>
       <th>Capacidad</th>
       <th>Establecimiento</th>
       <th style="text-align: center;"><i class="fa fa-cogs"></i></th>
    </tr>
  </tfoot>
{% endblock %}

{% block tbody-tabla %}
  <tbody>
    {% for balde in listado_baldes %}
        <tr>
            <td>{{ balde.nro_balde }}</td>
            <td>{{ balde.capacidad}}</td>
            <td>{{ balde.establecimiento_generador}}</td>
            <td align="center">
               <a class="btn btn-default" data-toggle="tooltip" title="Modificar" href="{% url 'baldes:alta_modif_balde' nro_balde=balde.nro_balde %}"><em class="glyphicon glyphicon-pencil"></em></a>
               <a id="nro_balde"class="btn btn-danger btn-baja"  data-baldenro="{{balde.nro_balde}}" data-toggle="modal" data-target="#modal_baja" title="Eliminar"><em class="glyphicon glyphicon-trash"></em></a>
            </td>
        </tr>
    {% endfor %}
  </tbody>
{% endblock %}

{% block modal-btn-eliminar%}
  <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="eliminarBalde(value)">Eliminar</button>
{% endblock %}

{% block modal-scripts %}
  <script>
    //codigo para cambiar los datos del modal y para dar de baja
    $(document).ready(function () {
      $('#modal_baja').on('show.bs.modal', function (event) { // id of the modal with event
        var button = $(event.relatedTarget) // Button that triggered the modal
        var balde_nro = button.data('baldenro')

        var title = 'Atención!'
        var content = '¿Está seguro que quiere eliminar este balde?'


        // actualiza el contenido del manual
        var modal = $(this)
        modal.find('.modal-title').text(title)
        modal.find('.modal-body').text(content)

        // se le pasa el valor del documento al boton de confirmar
        modal.find('button.btn-danger').val(balde_nro)
      })
    })

    function eliminarBalde(balde_nro) {
      var request = $.ajax({
          type: "POST",
          url: {% block url-baja-balde %} "{% url 'baldes:baja_balde' %}" {% endblock %},
          data: {
              "csrfmiddlewaretoken": "{{ csrf_token }}",
              "balde_nro": balde_nro
          },
      });
    }

    //para actualizar cuando se da de baja.
    $('#modal_baja').on('hidden.bs.modal', function () {
      window.location.reload(true);
    })
  </script>
{% endblock %}
