{% extends "base/base_forms.html" %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block title %}Sector{% endblock %}

{% block header-title %} Información del Sector {% endblock %}

{% block step-form %}

  <div class="form-section">
    <div class="panel panel-default">
      <div class="panel-heading">DATOS SECTOR</div>
      <div class="panel-body">
        <label>(*)Nombre:</label>
        {{sector_form.nombre_sector|add_class:'form-control nombre_sector'|attr:"required:"|attr:"data-parsley-error-message:(*)El campo nombre es obligatorio"}}
        <br>
        <label>(*)Localidad:</label>
        {{sector_form.localidad|add_class:"select-2"|attr:"required:"|attr:"data-parsley-error-message:(*)El campo localidad es obligatorio"}}
        <script>
          $('.nombre_sector').on('input', function(evt) {
            $(this).val(function (_, val) {
              return val.toUpperCase();
            });
          });
        </script>
      </div>
    </div>
  </div>

{% endblock %}


{% block url-cancelar %}
  {% url 'generadores:listado_sectores' %}
{% endblock %}
